[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "arcstat"]
	path = arcstat
	url = https://github.com/mtloots/arcstat
	subdir = arcstat
